################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/OrgDbOrgSettings/v15/.suo
/.vs
.vs/
*.sqlite
