################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config

/.vs
.vs/
*.sqlite
*.suo
slnx.sqllite
VSWorkspaceState.json
*.sqlite
.vs/VSWorkspaceState.json
.vs/OrgDbOrgSettings/v15/.suo
/.vs/OrgDbOrgSettings/v15/.suo
.vs/slnx.sqlite
