<?xml version="1.0" encoding="utf-8"?> 
<defaultorgSettings>
  <orgSetting minSupportedVersion="5.0.9690.583"
              maxSupportedVersion="7.9.9999.9999"
              name="MaxRecordsForExportToExcel"
              isOrganizationAttribute="true"
              min="5000"
              max="50000"
              defaultValue="10000"
              settingType="Number"
              supportUrl="http://msdn.microsoft.com/en-us/library/gg328408.aspx"
              urlTitle="Organization entity attributes"
              description="Max number of records to export to Excel, the larger the number the longer the exports will take (generally)." />
  <orgSetting minSupportedVersion="5.0.9690.583"
              maxSupportedVersion="7.9.9999.9999"
              name="BackgroundSendBatchSize"
              min="1"
              max="255"
              defaultValue="10"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Max email batch size per user for sending emails in the background. This sets the number of emails to download in one batch for the BackgroundSend API." />
  <orgSetting minSupportedVersion="5.0.9688.583"
              maxSupportedVersion="7.9.9999.9999"
              name="AutoCreateContactOnPromote"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Disables the ability for the entire organization to create contact records automatically when an email is tracked in CRM. This option can also be disabled from the user settings area for each user. &lt;b&gt;False&lt;/b&gt; - Disables the auto creation of contacts. &lt;b&gt;True&lt;/b&gt; - Enables the auto creation of contacts." />
  <orgSetting minSupportedVersion="5.0.9688.583"
              maxSupportedVersion="7.9.9999.9999"
              name="ClientUEIPDisabled"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Disables the sending of customer experience feedback for the organization. This option can also be disabled from the user settings area for each user. &lt;b&gt;False&lt;/b&gt; - Enables the sending. &lt;b&gt;True&lt;/b&gt; - Disables the sending." />
  <orgSetting minSupportedVersion="5.0.9688.583"
              maxSupportedVersion="7.9.9999.9999"
              name="DisableInactiveRecordFilterForMailMerge"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="When performing a mail merge inactive records are not included in the mail merge. This option allows you to override that functionality. &lt;b&gt;False&lt;/b&gt; - Inactive records will not be included in the mail merge. &lt;b&gt;True&lt;/b&gt; - Inactive records will be included in the mail merge." />
  <orgSetting minSupportedVersion="5.0.9688.583"
              maxSupportedVersion="7.9.9999.9999"
              name="DisableSmartMatching"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Disables the smart matching functionality and relies on the tracking token on the incoming e-mails for e-mail tracking. &lt;b&gt;False&lt;/b&gt; - Enables smart matching &lt;b&gt;True&lt;/b&gt; - Disables smart matching" />
  <orgSetting minSupportedVersion="5.0.9690.583"
              maxSupportedVersion="7.9.9999.9999"
              name="LookupNameMatchesDuringImport"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Importing a solution that was created from an upgraded 4.0 deployment fails. Changing this setting makes the import look up the names for forms, views, workflows and security roles." />
  <orgSetting minSupportedVersion="5.0.9690.1533"
              maxSupportedVersion="5.0.9999.9999"
              name="DoNotIgnoreInternalEmailToQueues"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="If you disable the &quot;Track e-mail sent between CRM users as two activities&quot; setting, e-mail messages from a CRM user to a queue are not delivered. Additionally, if a workflow rule sends an e-mail message to a queue, e-mail messages that are sent by the workflow rule are not delivered. &lt;b&gt;False&lt;/b&gt; - Internal e-mail messages to queues will not be delivered. &lt;b&gt;True&lt;/b&gt; - Internal e-mail messages to queues will be delivered." />
  <orgSetting minSupportedVersion="5.0.9690.1533"
              maxSupportedVersion="7.9.9999.9999"
              name="EnableRetrieveMultipleOptimization"
              min="0"
              max="3"
              defaultValue="0"
              settingType="Number"
              supportUrl="http://go.microsoft.com/fwlink/?LinkID=213093"
              urlTitle="White Paper"
              description="For more information see the Optimizing the Performance of Queries against Large Datasets section in the Optimizing and Maintaining the Performance of a Dynamics CRM 2011 Server Infrastructure" />
  <orgSetting minSupportedVersion="5.0.9690.1992"
              maxSupportedVersion="7.9.9999.9999"
              name="SkipSuffixOnKBArticles"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="When you create a knowledge base (KB) article the KB article number uses the &quot;Prefix-Number-Suffix&quot; format. You expect the format to be &quot;Prefix-Number.&quot; For more info see KB: &lt;a href=&quot;http://support.microsoft.com/kb/981840&quot;&gt;981840&lt;/a&gt;" />
  <orgSetting minSupportedVersion="5.0.9690.1992"
              maxSupportedVersion="7.9.9999.9999"
              name="SkipGettingRecordCountForPaging"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Disables the record count query. This query is responsible for getting the total number of records returned for each view. This query can cause longer search times and may lead to SQL timeouts or Exceptions. &lt;b&gt;False&lt;/b&gt; - Enables record count on views. &lt;b&gt;True&lt;/b&gt; - Disables record count on views." />
  <orgSetting minSupportedVersion="5.0.9690.2165"
              maxSupportedVersion="7.9.9999.9999"
              name="VerboseErrorsOnPromoteToCRM"
              min="0"
              max="1"
              defaultValue="0"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Enables verbose user error messaging when tracking items from Outlook to Dynamics CRM. By default some error messages during the tracking are suppressed from being shown to the end user and this setting enables those errors to be shown. &lt;b&gt;0&lt;/b&gt; - Disables the verbose errors. &lt;b&gt;1&lt;/b&gt; - Enables the verbose errors." />
  <orgSetting minSupportedVersion="5.0.9690.2243"
              maxSupportedVersion="7.9.9999.9999"
              name="JumpBarAlphabetOverride"
              min="null"
              max="null"
              defaultValue=""
              settingType="String"
              supportUrl="http://support.microsoft.com/kb/2494984"
              urlTitle="KB 2494984"
              description="Allows for customization of the Alphabet Bar for the CRM Application Grids for Microsoft Dynamics CRM" />
  <orgSetting minSupportedVersion="5.0.9690.2243"
              maxSupportedVersion="7.9.9999.9999"
              name="JumpBarNumberIndicatorOverride"
              min="null"
              max="null"
              defaultValue=""
              settingType="String"
              supportUrl="http://support.microsoft.com/kb/2494984"
              urlTitle="KB 2494984"
              description="Allows for customization of the Alphabet Bar for the CRM Application Grids for Microsoft Dynamics CRM" />
  <orgSetting minSupportedVersion="5.0.9690.2243"
              maxSupportedVersion="7.9.9999.9999"
              name="OverrideV5SenderConflictResolution"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="When multiple records with the same e-mail address exist in the Dynamics CRM Organization and e-mail is auto tracked the e-mail is resolved to the record that was created first. This option allows you to override that functionality.&lt;b&gt;False&lt;/b&gt; - E-mails are tracked to the first record created &lt;b&gt;True&lt;/b&gt; - E-mails are not tracked automatically if there are multiple records with the same e-mail address." />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="OverrideTrackInCrmBehaviour"
              min="0"
              max="1"
              defaultValue="0"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="When this option is Enabled the Track in CRM button will function like the Set Regarding button. 0 - Normal behavior of the Track in CRM button not having to set a Regarding record. &lt;b&gt;1&lt;/b&gt; - Track in CRM will function like the Set Regarding and make you choose a regarding record." />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="ActivityConvertDlgCampaignUnchecked"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Controls the default value of the Record Closed Campaign Response option. When converting an activity to an opportunity this default option controls whether the source campaign is set or not. &lt;b&gt;False&lt;/b&gt; - Record Closed Campaign Response checked and source campaign will be set. &lt;b&gt;True&lt;/b&gt; - Record Closed Campaign Response not checked and source campaign is not set." />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="6.1.9999.9999"
              name="EnableQuickFindOptimization"
              min="0"
              max="1"
              defaultValue="1"
              settingType="Number"
              supportUrl="http://go.microsoft.com/fwlink/?LinkID=213093"
              urlTitle="White Paper"
              description="For more information see the Optimizing the Performance of Quick Find Queries section in the Optimizing and Maintaining the Performance of a Dynamics CRM 2011 Server Infrastructure" />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="IdsCountForUsingGuidStringForSecurity"
              min="0"
              max="1000"
              defaultValue="20"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Not yet documented in optimization paper."/>
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="IdsCountBeforeUsingJoinsForSecurity"
              min="0"
              max="2147483647"
              defaultValue="1000"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Not yet documented in optimization paper." />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="SharingLimitForPOASnapshotTable"
              min="1"
              max="2147483647"
              defaultValue="10"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Not yet documented in optimization paper." />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="RecordCountLimitToSwitchToCteSecuritySql"
              min="1"
              max="2147483647"
              defaultValue="75000"
              settingType="Number"
              supportUrl="http://go.microsoft.com/fwlink/?LinkID=213093"
              urlTitle="White Paper"
              description="For more information see the Optimizing the Performance of Queries against Large Datasets section in the Optimizing and Maintaining the Performance of a Dynamics CRM 2011 Server Infrastructure. &lt;b&gt;Warning: do not increase this value unless it's for a *very* specific reason.&lt;/b&gt; " />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="RetrieveMultipleSharingCountThreshold"
              min="1"
              max="2147483647"
              defaultValue="1000"
              settingType="Number"
              supportUrl="http://go.microsoft.com/fwlink/?LinkID=213093"
              urlTitle="White Paper"
              description="For more information see the Optimizing the Performance of Queries against Large Datasets section in the Optimizing and Maintaining the Performance of a Dynamics CRM 2011 Server Infrastructure" />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="SendEmailSynchronously"
              min="0"
              max="1"
              defaultValue="0"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="If you have a plugin registered on the e-mail send flow you will want to update this setting to 1.&lt;b&gt;0&lt;/b&gt; - E-mail is sent asynchronously &lt;b&gt;1&lt;/b&gt; - E-mail is sent synchronously" />
  <orgSetting minSupportedVersion="5.0.9690.2720"
              maxSupportedVersion="7.9.9999.9999"
              name="UsePlainTextForEmailTemplateBody"
              min=""
              max=""
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Will set CRM to send emails with only plain text instead of HTML text." />
  <orgSetting minSupportedVersion="5.0.9690.2835"
            maxSupportedVersion="5.0.9999.9999"
            name="SetRegardingLookupDefaultEntityType"
            min="null"
            max="null"
            defaultValue=""
            settingType="String"
            supportUrl="http://support.microsoft.com/kb/2691237"
            urlTitle="KB 2691237"
            description="Change default entity for Regarding Lookup Dialog" />
  <orgSetting minSupportedVersion="5.0.9690.2835"
              maxSupportedVersion="7.9.9999.9999"
              name="IntegratedAuthenticationMethod"
              min="null" max="null"
              defaultValue=""
              settingType="String"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Changes the request sent to the ADFS server, this settings default value is NULL (which will not change anything). This changes the authentication when users access the org using the context https://internal.domain.com/org. Valid values are: &lt;br/&gt; an empty string (to reset to NULL use reset to default). &lt;br/&gt;&lt;b&gt;urn:federation:authentication:windows&lt;/b&gt; as a value uses - Integrated auth &lt;br/&gt;&lt;b&gt;urn:oasis:names:tc:SAML:1.0:am:password&lt;/b&gt; as a value uses -  Forms" />
  <orgSetting minSupportedVersion="5.0.9690.2835"
              maxSupportedVersion="7.9.9999.9999"
              name="IfdAuthenticationMethod"
              min="null" max="null"
              defaultValue=""
              settingType="String"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Changes the request sent to the ADFS server, this settings default value is NULL (which will not change anything). This changes the authentication when users access the org using the context https://orgName.domain.com/. Valid values are: &lt;br/&gt; an empty string (to reset to NULL use reset to default). &lt;br/&gt;&lt;b&gt;urn:federation:authentication:windows&lt;/b&gt; as a value uses - Integrated auth &lt;br/&gt;&lt;b&gt;urn:oasis:names:tc:SAML:1.0:am:password&lt;/b&gt; as a value uses -  Forms" />
  <orgSetting minSupportedVersion="5.0.9690.2903"
              maxSupportedVersion="7.9.9999.9999"
              name="DisableMapiCaching"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2741514"
              urlTitle="Javascript &amp; CRM"
              description="Default: &lt;b&gt;True&lt;/b&gt;.  &lt;b&gt;False&lt;/b&gt;: will disable address book materialized views." />
  <orgSetting minSupportedVersion="5.0.9690.2903"
              maxSupportedVersion="7.9.9999.9999"
              name="AddressBookMaterializedViewsEnabled"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="Changes the way the CRM Client queries SQL CE. Default: &lt;b&gt;True&lt;/b&gt;.  &lt;b&gt;False&lt;/b&gt;: will disable address book materialized views." />
  <orgSetting minSupportedVersion="5.0.9690.2903"
              maxSupportedVersion="7.9.9999.9999"
              name="ClientDisableTrackingForReplyForwardEmails"
              min="0"
              max="1"
              defaultValue="0"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="Default: &lt;b&gt;0&lt;/b&gt;.  &lt;b&gt;1&lt;/b&gt;: disables tracking of replies and forwarded emails. " />
  <orgSetting minSupportedVersion="5.0.9690.2903"
              maxSupportedVersion="7.9.9999.9999"
              name="DisableImplicitSharingOfCommunicationActivities"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="Default: &lt;b&gt;False&lt;/b&gt;.  &lt;b&gt;True&lt;/b&gt;: disables  implicit sharing of records to recipients that are added to existing activities." />
  <orgSetting minSupportedVersion="5.0.9690.3233"
              maxSupportedVersion="7.9.9999.9999"
              name="DisableIECompatMode"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://technet.microsoft.com/en-us/library/hh771584.aspx#BKMK_IECompatibiltyView"
              urlTitle="Javascript &amp; CRM" description="Changes the server-side, automatic, IE Compatability Mode Flag for Internet Explorer browsers. If you want pages to render in the most recent version of Internet Explorer set this to &lt;b&gt;True&lt;/b&gt;. If you have form scripts or other cusotmizations that require earlier versions of Internet Explorer this should be set to &lt;b&gt;False&lt;/b&gt;. This is also controlled via Settings | Administration | System Settings | Customization" />
  <orgSetting minSupportedVersion="5.0.9690.3233"
              maxSupportedVersion="5.0.9999.9999"
              name="IncludeHTC"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://technet.microsoft.com/en-us/library/hh771584.aspx#BKMK_HTCSupport"
              urlTitle="Javascript &amp; CRM"
              description="Set whether forms should support HTML component.  The CRM 4.0 API uses this feature which is deprecated and will no longer be included after the next major release.  If you  have javascript code relying on CRM 4.0 javascript API's you should enable this and work to update your code to support CRM 2011. This is also controlled via Settings | Administraton | System Settings | Customization. &lt;br/&gt;&lt;b&gt;NOTE:&lt;/b&gt; This setting is NOT SUPPORTED IN CRM2013 as of build 809." />
  <orgSetting minSupportedVersion="5.0.9690.3445"
            maxSupportedVersion="5.0.9999.9999"
            name="EnableReLinkingToExistingCRMRecord"
            min="0"
            max="1"
            defaultValue="0"
            settingType="Number"
            supportUrl="http://support.microsoft.com/kb/2691237"
            urlTitle="KB2691237"
            description="Default: &lt;b&gt;False&lt;/b&gt;.  &lt;b&gt;True&lt;/b&gt;: " />
  <orgSetting minSupportedVersion="5.0.9690.3445"
            maxSupportedVersion="7.9.9999.9999"
            name="ActivateAdditionalRefreshOfWorkflowConditions"
            min="null"
            max="null"
            defaultValue="false"
            settingType="Boolean"
            supportUrl="http://support.microsoft.com/kb/2691237"
            urlTitle="KB2691237"
            description="Default: &lt;b&gt;False&lt;/b&gt;.  &lt;b&gt;True&lt;/b&gt;: " />
  <orgSetting minSupportedVersion="5.0.9690.3541"
              maxSupportedVersion="7.9.9999.9999"
              name="ChangeDoubleQuoteToSingleQuote"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2849744"
              urlTitle="KB 2849744"
              description="UR14 and UR11+ with a COD update: By default CRM has, historically, converted double quotes to single quotes. In UR14 the behavior in CRM changes to preserve double quotes in KB articles, use this setting to revert the behavior back to changing double quotes to single quotes (true)" />
  <orgSetting minSupportedVersion="5.0.9690.3541"
              maxSupportedVersion="5.0.9999.9999"
              name="DefaultHeightForWizardReports"
              min="0.0"
              max="100.00"
              defaultValue="8.25"
              settingType="Double"
              supportUrl="http://support.microsoft.com/kb/2849744"
              urlTitle="KB 2849744"
              description="UR14: With a default value 0: CRM will use 8.25 inches (A4), any other double value will override the default of 8.25.  Some printers may reject printed reports if the height is any less than the height of the paper loaded in the tray, this setting will override the height used." />
  <orgSetting minSupportedVersion="5.0.9690.3731"
              maxSupportedVersion="5.0.9999.9999"
              name="AllowPromoteDuplicates"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Default: &lt;b&gt;False&lt;/b&gt;. Options are: &lt;b&gt;False&lt;/b&gt;: Does not allow for the promotion of duplicate records.   &lt;b&gt;True&lt;/b&gt;: Allows for the promotion of duplicate records. &lt;br/&gt;&lt;b&gt;NOTE:&lt;/b&gt; This setting is NOT SUPPORTED IN CRM2013 as of build 809." />
  <orgSetting minSupportedVersion="5.0.9690.3731"
              maxSupportedVersion="5.0.9999.9999"
              name="SecuritySettingForEmail"
              min="1"
              max="3"
              defaultValue="1"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Default: &lt;b&gt;1&lt;/b&gt;. Options are:&lt;br/&gt;1:Display a Warning Message And give an option to open&lt;br/&gt;2: Display a Warning Message and do not give an option to open &lt;br/&gt;3: Do not display a Warning Message and do not give any option to open. &lt;br/&gt;&lt;b&gt;NOTE:&lt;/b&gt; This setting is NOT SUPPORTED IN CRM2013 as of build 809." />
  <orgSetting minSupportedVersion="5.0.9690.3911"
              maxSupportedVersion="5.0.9999.9999"
              name="GrantSharedAccessForMergeToSubordinateOwner"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Default: &lt;b&gt;true&lt;/b&gt;. Options are:&lt;br/&gt;true:Copy all inhertied shares from master share records&lt;br/&gt;false: Do not copy master records inherited shares." />
  <orgSetting minSupportedVersion="5.0.9690.3911"
              maxSupportedVersion="5.0.9999.9999"
              name="ListComponentInstalled"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="If CRM and SharePoint use ADFS and users click to create a folder for a record in CRM 2011, intermittently, the SharePoint page is shown instead of the list part grid page causing confusion with users. This setting allows you to force CRM to use the installed list grid component in SharePoint when using ADFS. &lt;br/&gt;Default: &lt;b&gt;false&lt;/b&gt;. Options are:&lt;br/&gt;false: use the standard method of detecting Sharepoint Authentication&lt;br/&gt;true: If CRM and SharePoint have ADFS enabled, force CRM to use the grid display." />
  <orgSetting minSupportedVersion="5.0.9690.3911"
              maxSupportedVersion="5.0.9999.9999"
              name="StoreOutlookSyncDataInSensitivityProperty"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Default: &lt;b&gt;true&lt;/b&gt;. Options are:&lt;br/&gt;true:Preserve existing behavior.&lt;br/&gt;false: Stop storing CRM Sync information in the PidTagSensitivity MAPI property which causes the error: error in the XML document on GetItem for IPM.MSCRMUserId on BlackerBerry Server Traces." />

  <!--6.0.0.809  2013 RTM -->
  <orgSetting minSupportedVersion="6.0.0.809"
              maxSupportedVersion="7.9.9999.9999"
              name="TabletClientMaxTabs"
              min="1"
              max="50"
              defaultValue="5"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Default: &lt;b&gt;5&lt;/b&gt;.  Max tablet tabs." />
  <orgSetting minSupportedVersion="6.0.0.809"
              maxSupportedVersion="7.9.9999.9999"
              name="TabletClientMaxLists"
              min="1"
              max="50"
              defaultValue="10"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Default: &lt;b&gt;10&lt;/b&gt;.  Max tablet lists." />
  <orgSetting minSupportedVersion="6.0.0.809"
              maxSupportedVersion="7.9.9999.9999"
              name="TabletClientMaxFields"
              min="1"
              max="500"
              defaultValue="75"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Default: &lt;b&gt;75&lt;/b&gt;.  Max mobile fields." />
  <orgSetting minSupportedVersion="6.0.0.809"
              maxSupportedVersion="7.9.9999.9999" name="EnableBulkReparent"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="Default: &lt;b&gt;True&lt;/b&gt;.  &lt;b&gt;False&lt;/b&gt;: Disables and reparents using a one record at a time approach." />
  <orgSetting minSupportedVersion="6.0.0.809"
              maxSupportedVersion="7.9.9999.9999" name="CreateSPFoldersUsingNameandGuid"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="Default: &lt;b&gt;True&lt;/b&gt; - creates SharePoint folders using the format of {Name}+{GUID}.  &lt;b&gt;False&lt;/b&gt;: Creates SharePoint folders using just the name." />
  <orgSetting minSupportedVersion="6.0.0.809"
              maxSupportedVersion="7.9.9999.9999" name="TraceExchangeSyncData"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="Default: &lt;b&gt;False&lt;/b&gt;.  &lt;b&gt;True&lt;/b&gt;: Enabled exchange sync tracing." />

  <!--6.0.1.61  2013 UR1 -->
  <orgSetting minSupportedVersion="6.0.1.61"
              maxSupportedVersion="7.9.9999.9999"
              name="AllowPromoteDuplicates"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="V6 Default: &lt;b&gt;False&lt;/b&gt;. Options are: &lt;b&gt;False&lt;/b&gt;: Does not allow for the promotion of duplicate records.   &lt;b&gt;True&lt;/b&gt;: Allows for the promotion of duplicate records. &lt;br/&gt;&lt;b&gt;NOTE:&lt;/b&gt; This setting is NOT SUPPORTED IN CRM2013 as of build 809." />
  <orgSetting minSupportedVersion="6.0.1.61"
              maxSupportedVersion="7.9.9999.9999"
              name="EnableReLinkingToExistingCRMRecord"
              min="0"
              max="1"
              defaultValue="0"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="V6 Default: &lt;b&gt;False&lt;/b&gt;.  &lt;b&gt;True&lt;/b&gt;: " />

  <!--6.1.0.581 2013 SP1-->
  <orgSetting minSupportedVersion="6.1.0.581"
              maxSupportedVersion="7.9.9999.9999"
              name="SecuritySettingForEmail"
              min="1"
              max="3"
              defaultValue="1"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Added back in 6.1.0.581! Default: &lt;b&gt;1&lt;/b&gt;. Options are:&lt;br/&gt;1:Display a Warning Message And give an option to open&lt;br/&gt;2: Display a Warning Message and do not give an option to open &lt;br/&gt;3: Do not display a Warning Message and do not give any option to open. &lt;br/&gt;&lt;b&gt;NOTE:&lt;/b&gt; This setting is NOT SUPPORTED IN CRM2013 as of build 809." />
  <orgSetting minSupportedVersion="6.1.0.581"
              maxSupportedVersion="7.9.9999.9999"
              name="GrantSharedAccessForMergeToSubordinateOwner"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Added back in 6.1.0.581! Default: &lt;b&gt;true&lt;/b&gt;. Options are:&lt;br/&gt;true:Copy all inhertied shares from master share records&lt;br/&gt;false: Do not copy master records inherited shares." />
  <orgSetting minSupportedVersion="6.1.0.581"
              maxSupportedVersion="7.9.9999.9999"
              name="ListComponentInstalled"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Added back in 6.1.0.581! If CRM and SharePoint use ADFS and users click to create a folder for a record in CRM 2013, intermittently, the SharePoint page is shown instead of the list part grid page causing confusion with users. This setting allows you to force CRM to use the installed list grid component in SharePoint when using ADFS. &lt;br/&gt;Default: &lt;b&gt;false&lt;/b&gt;. Options are:&lt;br/&gt;false: use the standard method of detecting Sharepoint Authentication&lt;br/&gt;true: If CRM and SharePoint have ADFS enabled, force CRM to use the grid display." />
  <orgSetting minSupportedVersion="6.1.0.581"
              maxSupportedVersion="7.9.9999.9999"
              name="StoreOutlookSyncDataInSensitivityProperty"
              min="null"
              max="null"
              defaultValue="true"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="None"
              description="Added back in 6.1.0.581! Default: &lt;b&gt;true&lt;/b&gt;. Options are:&lt;br/&gt;true:Preserve existing behavior.&lt;br/&gt;false: Stop storing CRM Sync information in the PidTagSensitivity MAPI property which causes the error: error in the XML document on GetItem for IPM.MSCRMUserId on BlackerBerry Server Traces." />
  <orgSetting minSupportedVersion="6.1.0.581"
              maxSupportedVersion="7.9.9999.9999"
              name="EnableCrmStatecodeOnOutlookCategory"
              min="null"
              max="null"
              defaultValue="True"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="Enable Statecode data on contact sync. Default: &lt;b&gt;True&lt;/b&gt;.  &lt;b&gt;False&lt;/b&gt;: " />

  <!-- 6.1.1.132 2013 SP1 UR1 -->
  <orgSetting minSupportedVersion="6.1.1.132"
              maxSupportedVersion="7.9.9999.9999"
              name="ClearSystemUserPrincipalsWhenDisable"
              min="null"
              max="null"
              defaultValue="True"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB2691237"
              description="Clear and/or populates SystemUserPrincipals values for systemUsers when they're disabled/enabled. Default: &lt;b&gt;True&lt;/b&gt;.  &lt;b&gt;False&lt;/b&gt;: " />
  <orgSetting minSupportedVersion="6.1.1.132"
            maxSupportedVersion="7.9.9999.9999"
            name="SetRegardingLookupDefaultEntityType"
            min="null"
            max="null"
            defaultValue=""
            settingType="String"
            supportUrl="http://support.microsoft.com/kb/2691237"
            urlTitle="KB 2691237"
            description="Change default entity for Regarding Lookup Dialog" />

  <!--7.0.0.3027 2015 RTM-->
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="DoNotIgnoreInternalEmailToQueues"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="If you disable the &quot;Track e-mail sent between CRM users as two activities&quot; setting, e-mail messages from a CRM user to a queue are not delivered. Additionally, if a workflow rule sends an e-mail message to a queue, e-mail messages that are sent by the workflow rule are not delivered. &lt;b&gt;False&lt;/b&gt; - Internal e-mail messages to queues will not be delivered. &lt;b&gt;True&lt;/b&gt; - Internal e-mail messages to queues will be delivered." />
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="MaximumChildUsersCountLimitBeforeUsingJoinForHSM"
              min="1"
              max="2147483647"
              defaultValue="80"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Maximum Child/Subordinate Users Count Before Using a Join For HSM" />
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="DisableLookupMruOnOutlookOffline"
              min="null"
              max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="LookupMRUItems in UserEntityUISettings can cause a large data volume when going online, setting this to &lt;b&gt;true&lt;/b&gt; will stop MRU's from syncing back ONLINE.  The default of &lt;b&gt;false&lt;/b&gt; will have users OFFLINE outlook clients sync the MRU items back to the server after being offline.  To reduce the time taken to go back ONLINE for offline client users you can set this to &lt;b&gt;true&lt;/b&gt;." />
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="HierarchyLevelForHierarchyFeature"
              min="1" max="100"
              defaultValue="3"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="HierarchyLevelForHierarchyFeature - the hierarchy level used for hierarchal security." />
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="PageSizeForHierarchyFeature"
              min="1" max="5000"
              defaultValue="5"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="PageSizeForHierarchyFeature - the hierarchy page size used for hierarchal security." />
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="TabletClientMaxMashups"
              min="1"
              max="100"
              defaultValue="3"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="TabletClientMaxMashups" />
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="DisableClientUpdateNotification"
              min="null" max="null"
              defaultValue="false"
              settingType="Boolean"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Setting DisableClientUpdateNotification to &lt;b&gt;true&lt;/b&gt; will disable the outlook client from checking for newer versions." />
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="MinRowCountForFKIndexCreateInReferencingEntity"
              min="1" max="2147483647"
              defaultValue="5000"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Setting min row count in &lt;b&gt;referencing&lt;/b&gt; table for ForeignKey index creation" />
  <orgSetting minSupportedVersion="7.0.0000.3027"
              maxSupportedVersion="7.9.9999.9999"
              name="MinRowCountForFKIndexCreateInReferencedEntity"
              min="1" max="2147483647"
              defaultValue="100"
              settingType="Number"
              supportUrl="http://support.microsoft.com/kb/2691237"
              urlTitle="KB 2691237"
              description="Setting min row count in &lt;b&gt;referenced&lt;/b&gt; table for ForeignKey index creation" />
  <!--
 CRM 2015: 
  7.0.0000.3027 2015 RTM
 
 CRM 2013: 
  6.0.0.809 is RTM 
  6.0.1.61  is UR1 
  6.0.2.46  is UR2 - no new settings found
  6.0.3.106 is UR3 - settings not checked
  6.1.0.581 is SP1 RTM
  6.1.1.132 is SP1 UR1 
 
 CRM 2011: 
  4150 is UR17 - not checked for new settings yet
  3911 is UR16
  3731 is UR15
  3541 - 3557 UR14
  3445 is UR13
  3236 is ur12 
  2903 is ur11CU-COD
  2839 is ur11v2
  2835 is ur11v1
  2720 is UR10V1 
  2243 is UR8
  2165 is UR7
  1992 is UR6
  1533 is UR5
  1450 is UR4
  1244 is UR3
  1155 is UR2
  1045 is UR1
 -->
</defaultorgSettings>